__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/

logs/
logs_old/
*.log
*.err
*.out
slurm-*.out
events.out.tfevents.*

.ipynb_checkpoints
.env
.venv
.idea/
.vscode/
*.swp
.DS_Store

data/
dataset/
results/
outputs/
tmp/

*.pth
*.pt
*.ckpt
*.pkl
!checkpoints/
!checkpoints/**
checkpoints/**/*.pth
